//color variables
color1 = #1352A5
color4 = #F1EFE6
color5 = #F26522
color9 = #605F5B

// centered navbar
@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
        margin-left: 400px
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
}

body {
  background: color9
}

#top {
  background: white
}

#wrapper {
  position: relative
  height: 100%
}

#colCapa,
#colProd {
  margin-top: -10px
}

#slide {
  margin-top: 50px
  margin-bottom: 5px
  // uncomment for production
  background-position: 0px -105px
  background-size: cover
  height: 500px
}

#slideSM {
  margin-top: 50px
  margin-bottom: 5px
  // uncomment for production
  background-position: 0px 0px
  background-size: cover
  height: 250px
}

#tagline h1 {
  font-size: 40px
  font-style: italic
  font-weight: bolder
  color: color4
  padding-bottom: 5px
  padding-top: 5px
  //text-shadow: 2px 2px color9
  margin-left: auto
  margin-right: auto
  right: 0
  left: 0
  margin-top: -70px
  background: rgba(0,0,0,0.5)
  position: absolute
}

.logo {
  position: absolute
  margin-left: -12px
  margin-top: 67px
}

.logo:hover {
  cursor: pointer
}

.circle {
  margin-left: auto
  margin-right: auto
  right: 0
  left: 0
  margin-top: -60px
	border-radius: 10%
	width: 160px
	height: 170px
  position: absolute
}

.navbar-custom {
  height: 50px
  border-style: none
  background-color: color9
  background-image: none
  font-family: 'Montserrat', sans-serif;
}

.bottom-column
{
    float: none
    display: table-cell
    vertical-align: bottom
}

#bottom {
  color: color4
  background-color: color5

  h3 {
    font-size: 30px
    margin-top: 15px
    padding-bottom: 13px
    text-align: center
    font-weight: bolder
    width: 100%
  }

  #contWrapper {
    height: 100%
    width: 100%
    line-height: 35px
    color: color9

    h3 {
       color: #F1EFE6
    }

    input {
      width: 100%
      font-size: 18px
    }

    input:focus {
      border: 3px solid color9
    }

    textarea {
      font-size: 18px
      width: 100%
      height: 255px
    }

    textarea:focus {
      border: 3px solid color9
    }

    #submitButton {
      width: 95px
      background-color: white
      color: color5
      height: 33px
      border-radius: 2pt
      font-size: 24px
      font-weight: bolder
      padding-left: 7px
      position: absolute
      left: 50%
      margin-left: -47.5px
    }

    #submitButton:hover {
      background-color: color1
      color: white
      cursor: pointer
    }
  }
}

.hundredPercent {
  width: 100%
  height: 100%
}

#inputs {
  color: color9
}

.copyText {
  font-family: 'Montserrat', sans-serif;
  color: black
  font-weight: 400
  font-size: 40px
  margin-top: 5px
  height: 250px
  background: color4
  overflow: hidden

  .topP {
    margin-top: 30px
  }

  p#topPSM {
    margin-top: 40px
    font-size: 40px
  }
}

.copyTextM {
  font-family: 'Montserrat', sans-serif;
  color: black
  font-weight: 400
  font-size: 40px
  margin-top: 5px
  height: 300px
  background: color4
  overflow: hidden

  .topP {
    margin-top: 30px
  }

  p#topPSM {
    margin-top: 40px
    font-size: 40px
  }
}

#copyTextSM {
  font-family: 'Montserrat', sans-serif;
  color: black
  font-weight: 400
  font-size: 40px
  margin-top: 5px
  height: 475px
  background: color4
  overflow: hidden

  p#topP {
    margin-top: 70px
  }

  p#topPSM {
    margin-top: 40px
    font-size: 30px
  }
}

#copyTextSM1 {
  font-family: 'Montserrat', sans-serif;
  color: black
  font-weight: 400
  font-size: 40px
  margin-top: 5px
  height: 300px
  background: color4
  overflow: hidden

  p#topP1 {
    margin-top: 70px
  }

  p#topPSM1 {
    margin-top: 40px
    font-size: 30px
  }
}

li.active h3 {
  color: color4
  font-family: 'Montserrat', sans-serif
  padding: 5px
  margin-left: 16px
  margin-right: 16px
  margin-top: 10px
  font-size: 14px
  font-weight: 400
  border-radius: 5pt
}

li.active h3:hover {
  cursor: pointer
  background: #898888
}

.leftBar {
  margin-left: 40px
}

.rightBar {
  margin-right: 40px
}

span#smallFont {
  p {
    font-size: 24px
    color: color9
  }
}

span#smallFontM {
  p {
    margin-top: 50px
    font-size: 18px
    color: color9
  }
}

span#smallFontSM1 {
  p {
    margin-top: 50px
    font-size: 20px
    color: color9
  }
}

span#smallFontSM {
  p {
    margin-top: 50px
    font-size: 15px
    color: color9
  }
}

#middle {
  height: 650px
  background-color: color4
  margin-bottom: 5px
  overflow: hidden;

  .col-md-10 {
    background-color: color4
    height: 400px
    margin-top: 25px
  }
}

#divider {
  height: 75px
  background-color: color5
  color: color4
  font-family: 'Montserrat', sans-serif

  h3 {
    font-size: 28px
  }
}

#capaPage,
#prodPage,
#servPage,
#abouPage,
#contPage {
  height: 750px
  margin-top: 10px
  background-color: color4
  div.col-md-10 {
    height: 500px
  }
}

#capaPage .col-md-10 {
  margin-top: 30px
  width: 1200px
  left: 50%
  margin-left: -600px
  position: absolute
}

#prodPage .col-md-10 {
  width: 1200px
  left: 50%
  margin-left: -600px
  position: absolute
}

.list {
  overflow: hidden

  div {
    width: 114%

    h3 {
      font-size: 12px
      font-family: 'Montserrat', sans-serif
      font-weight: bold
      color: color9
    }
  }

  div:nth-of-type(1) {
    margin-top: -19px
  }

  div:hover {
    cursor: pointer
  }
}

.hidden {
  display: none
}

#slider1_container {
  position: relative
  width: 100%
  height: 100%
  margin-left: 0 auto
  margin-right: 0 auto
  left: 0%
  right: 0%
}

#slider1 {
  cursor: move
  position: absolute
  overflow: hidden
  width: 100%
  height: 385px
}

#sectionInfo {
  margin-left: 50px
}

#dropdownn-menu {
  margin-left: 20px
}

.moveUp {
  margin-top: 10px
}

#icons {
  height: 400px
}

#slideShowContainer {
  margin-top: 16px
  position: relative
  height: 480px
  width: 100%
}

#slideShow {
  left: 50%
  margin-left: -405px
  height: 480px
  width: 810px
  position: absolute
  background: color1
  border-top-left-radius: 20pt
  border-top-right-radius: 20pt
  overflow: hidden

  #slideshowText {
    font-family: 'Montserrat', sans-serif
    position: absolute
    color: color4
    margin: 0
    left: 0
    z-index: 10
    height: 480px
    width: 100%
    background: rgba(0,0,0,0.7)

    h1 {
        font-size: 40px
        margin: 20px
        margin-top: 160px
    }
  }

  img {
    position: absolute
  }

  #img0 {
    z-index: 1
    left: 0
    width: 80%
    height: 480px
  }

  #img1, #img2, #img3 {
    right: 0
    width: 20%
    height: 33.33%
  }

  #img2 {
    top: 33.33%
  }

  #img3 {
    top: 66.66%
  }
}

#icons {

  .col-md-12 {
    margin-left: -20px
    height: 133.33px
    padding: 10px
  }
}

#slideShowButtonContainer {
  width: 100%
  height: 70px
  position: relative

  .cataRow {
    margin-top: 4px
    margin-left: -405px
    left: 50%
    position: absolute
    width: 812px
    height: 100%
    border-bottom-left-radius: 20pt
    border-bottom-right-radius: 20pt
    overflow: hidden

    img {
      width: 266.66px
      height: 100%
    }

    img:nth-of-type(2),
    img:nth-of-type(3) {
      margin-left: 6px
    }

    img:hover {
      cursor: pointer
    }
  }
}

#social {
  bottom: 0

  .col-md-12 {
    height: 60px
    width: 100%
    background: color9
    bottom: 0
  }

  h3 {
    font-weight: bolder
    font-family: 'Montserrat', sans-serif
    color: color4
    font-size: 30px
    right: 10%
    position: absolute
  }
}

.underlined {
  font-weight: 700
}

#socialButtons {
  left: 0
  right: 0

  img {
    padding-left: 10px
    padding-right: 10px
    height: 60px
    width: 60px
  }

  img:hover {
    cursor: pointer
    padding-bottom: 7px
  }
}

#social .col-md-12 {
  width: 100%
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: color5
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: color5
}
*::-moz-placeholder {
  /* FF 19+ */
  color: color5
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: color5
}

#tinyLogo {
  height: 30px
  width: 160px
  margin-top: 70px
  position: absolute
}

#tinyLogo:hover {
  cursor: pointer
}

.logoText {
  z-index: -1
  margin-top: 7px
  text-decoration: underline
  position: absolute
  width: 100%
  font-size: 28px
  text-align: center
  color: color4
  font-family: 'Montserrat', sans-serif
}

.logoText:hover {
  cursor: pointer
}

#navCapa,
#navProd,
#navServ {
  z-index: 1
}

.smCataRow {
  position: relative
  width: 300px
  margin-left: -150px
  left: 50%
  cursor: pointer;
}

#smRowContainer {
  margin-top: -2%
}

#navbarBar {
  position: absolute
  width: 100%
  height: 5px
  background-color: color4
  bottom: 0
}

.tiles {
  position: relative
  height: 500px

  .col0, .col1, .col2, .col3 {
    position: absolute
    width: 25%
    height: 160px
    background-color: color5

    a {
      margin-top: 5px
      width: 100%
      position: absolute
      text-align: center
      font-family: 'Montserrat', sans-serif
      font-weight: bold
      font-size: 14px
      color: color4
    }

    img {
      z-index: 1
      position: absolute
      background: black
      height: 100%
      width: 100%
      top: 0
    }
  }

  .col0:hover,
  .col1:hover,
  .col2:hover,
  .col3:hover {
    cursor: pointer
  }

  .col0 {
    left: 0
  }
  .col1 {
    left: 25%
  }
  .col2 {
    left: 50%
  }
  .col3 {
    left: 75%
  }
}

#capaCopy {
  //height: 250px
  background: color5
  margin-top: -5px

  p {
    font-family: 'Montserrat', sans-serif
    color: color4
    font-weight: 400
    padding-top: 20px
    padding-right: 10%
    padding-left: 10%
  }
}

#prodCopy {
  //height: 250px
  background: color5

  p {
    font-family: 'Montserrat', sans-serif
    color: color4
    font-weight: 400
    padding-top: 20px
    padding-right: 10%
    padding-left: 10%
  }
}

// XS
@media (max-width: 767px) {
  #bubbleDiv {
    margin-top: 280px
  }
  #inputColumn {
    input {
      width: 100%
    }
  }
  #tinyLogo {
    margin-top: 10px
    width: 100px
    left: -5px
  }
  .tiles {
    a {
      z-index: 500
      background-color: rgba(0,0,0,.5)
    }
  }
  #bottom {
    height: 650px
  }
  .circle {
    width: 1px
    height: 1px
    left: -200px
  }
  .logo {
    width: 110px
    height: 84px
  }
  #slidemenu {
    right: 0
  }
  #capaCopy {
    height: 305px
    top: 1000px
  }
  .tiles.tilesSM {
    .col0, .col1, .col2, .col3 {
      width: 15%
      overflow: hidden
      img {
        top: 10%
        position: relative
        filter: grayscale(0%)
      }
    }
    .col0, .col1 {
      left: 35%
    }
    .col2, .col3 {
      left: 50%
    }
    .col0, .col2 {
      margin-top: 320px
    }
  }
  #prodCopy {
    height: 400px
    top: 1150px
  }
  #servPage {
    .col-md-12 {
      height: 800px
    }
    .col-md-12:nth-of-type(1) {
      height: 360px
      p {
        top: 0
      }
    }
    .col-md-12:nth-of-type(2) {
      height: 980px
    }
    .col-md-12:nth-of-type(3) {
      height: 720px
    }
    .col-md-12:nth-of-type(4) {
      height: 330px
      h1 {
        top: 0px
      }
      p {
        top: 70px
      }
    }
    .col-md-12:nth-of-type(5),
    .col-md-12:nth-of-type(6),
    .col-md-12:nth-of-type(7),
    .col-md-12:nth-of-type(8) {
      height: 420px
      img {
        visibility: hidden
      }
      h1 {
        top: 0px
      }
      p {
        top: 100px
      }
      .col-md-4 {
        visibility: hidden
      }
    }
    div.col-md-12:nth-of-type(5) {
      height: 385px
      p {
        top: 60px
      }
    }
    div.col-md-12:nth-of-type(6) {
      p {
        top: 70px
      }
    }
    div.col-md-12:nth-of-type(7) {
      height: 325px
      p {
        top: 60px
      }
    }
    div.col-md-12:nth-of-type(8) {
      p {
        top: 90px
      }
    }
    img {
      height: 300px
      width: 300px
      position: absolute
      left: 50%
      margin-left: -150px
    }
    h1, p {
      position: absolute
      text-align: center
    }
    h1 {
      top: 310px
      width: 300px
      left: 50%
      margin-left: -150px
    }
    p {
      top: 375px
    }
  }
}

// SM
@media (max-width: 991px) and (min-width: 768px) {
  #bubbleDiv {
    margin-top: 280px
  }
  .tiles {
    a {
      z-index: 1000
    }
  }
  #bottom {
    height: 640px
  }
  #capaCopy {
    height: 175px
    top: 1030px
  }
  #slidemenu {
    left: 0
  }
  .tiles.tilesSM {
    .col0, .col1, .col2, .col3 {
      width: 20%
      overflow: hidden
      img {
        top: 20%
        position: relative
        filter: grayscale(0%)
      }
    }
    .col0, .col1 {
      left: 30%
    }
    .col2, .col3 {
      left: 50%
    }
    .col0, .col2 {
      margin-top: 320px
    }
  }
  #prodCopy {
    height: 175px
    top: 1190px
  }
  #servPage {
    .col-md-12 {
      height: 590px
    }
    .col-md-12:nth-of-type(1) {
      height: 150px
      p {
        top: 0
      }
    }
    .col-md-12:nth-of-type(3) {
      height: 480px
    }
    .col-md-12:nth-of-type(4) {
      height: 230px
      h1 {
        top: 0px
      }
      p {
        top: 120px
      }
    }
    .col-md-12:nth-of-type(5) {
      height: 200px
      p {
        top: 80px
      }
    }
    .col-md-12:nth-of-type(6) {
      height: 230px
      p {
        top: 120px
      }
    }
    .col-md-12:nth-of-type(7) {
      height: 180px
      p {
        top: 80px
      }
    }
    .col-md-12:nth-of-type(8) {
      height: 230px
      p {
        top: 120px
      }
    }
    .col-md-12:nth-of-type(5),
    .col-md-12:nth-of-type(6),
    .col-md-12:nth-of-type(7),
    .col-md-12:nth-of-type(8) {
      img {
        visibility: hidden
      }
      h1 {
        top: 0px
      }

      .col-md-4 {
        visibility: hidden
      }
    }

    img {
      height: 300px
      width: 300px
      position: absolute
      left: 50%
      margin-left: -150px
    }
    h1, p {
      position: absolute
      text-align: center
    }
    h1 {
      top: 310px
      width: 300px
      left: 50%
      margin-left: -150px
    }
    p {
      top: 375px
    }
  }
}

// MD
@media (max-width: 1199px) and (min-width: 992px) {
  #bubbleDiv {
    margin-top: 55px
  }
  #submitButton {
    margin-top: 265px
  }
  #bottom {
    height: 390px
  }
  #inputColumn {
    input {
      width: 100%
    }
  }
  #slide {
    height: 300px
  }
  #prodCopy {
    height: 150px
  }
  #slidemenu {
    visibility: hidden
  }
  #servPage {
    .col-md-12 {
      height: 340px
    }
    .col-md-12:nth-of-type(1) {
      height: 175px
    }
    .col-md-12:nth-of-type(4) {
      height: 180px
    }
    .col-md-12:nth-of-type(5),
    .col-md-12:nth-of-type(6),
    .col-md-12:nth-of-type(7),
    .col-md-12:nth-of-type(8) {
      height: 280px
      h1, p {
        left: 2%
        padding-right: 20px
        position: relative
      }
      img {
        position: relative
        bottom: 20px
        left: 15px
      }
    }
    img {
      float: left
      height: 200px
      width: 175px
    }
  }
}

// LG
@media (min-width: 1200px) {
  #bubbleDiv {
    margin-top: 55px
  }
  #submitButton {
    margin-top: 265px
  }
  #bottom {
    height: 390px
  }
  #capaCopy {
    height: 100px
  }
  #slidemenu {
    visibility: hidden
  }
  #prodCopy {
    height: 120px
  }
  #servPage {
    .col-md-12 {
      height: 250px
    }
    .col-md-8 {
      width: 1000px
    }
    .col-md-12:nth-of-type(1) {
      height: 130px
    }
    .col-md-12:nth-of-type(4) {
      height: 160px
    }
    .col-md-12:nth-of-type(6) {
      height: 180px
    }
    .col-md-12:nth-of-type(8) {
      height: 180px
    }
    .col-md-12:nth-of-type(5),
    .col-md-12:nth-of-type(6),
    .col-md-12:nth-of-type(7),
    .col-md-12:nth-of-type(8) {
      h1, p {
        left: 2%
        padding-right: 10%
        position: relative
      }
      img {
        position: relative
        bottom: 20px
        left: 15px
      }
    }
    img {
      float: left
      height: 200px
      width: 175px
    }
  }
}

#socialDiv {
  height: 5px
  background-color: color4
}

#servPage {
  .row.clearfix {
    font-family: 'Montserrat', sans-serif
    .col-md-12 {
      color: color9
      img {
        margin-top: 25px
        padding-right: 15px
      }
      h1 {
        color: color5
        font-weight: bolder
      }
    }
    .col-md-8 {
      h1 {
        font-size: 26px
      }
      p {
        font-size: 16px
      }
    }
    .col-md-12:nth-child(even) {
      background-color: white
    }
    .col-md-12:nth-child(odd) {
      background-color: color4
    }
    .col-md-12:nth-child(1) {
      p {
        margin-top: 30px
        font-weight: 700
      }
    }
    .col-md-12:nth-child(2) {
      background-color: color5
      h1, p {
        color: color4
      }
    }
    .col-md-12:nth-child(4) {
      background-color: color9
      h1 {
        color: color5
      }
      p {
        color: color4
      }
    }
    .col-md-12:nth-child(5) {
      .col-md-4 {
        height: 100%
        background-color: color4
        margin-left: -45px
      }
    }
    .col-md-12:nth-child(6) {
      background-color: color9
      .col-md-4 {
        height: 100%
        background-color: color4
        margin-left: -30px
      }
      h1, p {
        color: color4
      }
    }
    .col-md-12:nth-child(7) {
      .col-md-4 {
        height: 100%
        background-color: color4
        margin-left: -45px
      }
    }
    .col-md-12:nth-child(8) {
      background-color: color9
      .col-md-4 {
        height: 100%
        background-color: color4
        margin-left: -30px
      }
      h1, p {
        color: color4
      }
    }
  }
}

#abouPage {
  p {
    margin-left: 30px
    color: color9
    font-family: 'Montserrat', sans-serif
  }
  p.wrap-img {
    float: left
  }
  img {
    float: left
    padding: 30px
    padding-bottom: 10px
  }
  h6, .inlineTitle {
    color: color9
    font-weight: 700px
    font-family: 'Montserrat', sans-serif
    font-size: 28px
  }
  h6 {
    margin-left: 30px
  }
  .inlineTitle {
    margin-right: 10px
  }
}

img.grayscale {
  filter: grayscale(100%)
}

img.grayscale.grayscale-disabled {
  filter: grayscale(0%)
}

p#aboutHeader {
  margin-top: 30px
  margin-left: 0
  font-size: 30px
  color: white
  background-color: color5
  padding-left: 20px
}

div#kitting,
div#rollout,
div#surveys,
div#shipping {
  h1 {
    font-size: 26px
  }
  p {
    font-size: 16px
  }
}

#slidemenu {
  z-index: 1000
  overflow: scroll
  position: absolute
  position: fixed
  background-color: color9
  height: 100%
  width: 200px

  h1:nth-of-type(1) {
    margin-top: 120px
  }

  h1 {
    font-family: 'Montserrat', sans-serif
    color: color4
    font-size: 24px
    padding-left: 10px
  }
}

#bubbleDiv {
  position: absolute
  height: 11px
  width: 200px
  margin-right: 10px
  z-index: 900
  .bubble {
    padding: 5px
    cursor: pointer
  }
}

#callus {
  position: relative
  margin-top: 15px
}
